/* Faculty.css
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: grey;
    text-align: center;
    color: black;
    margin: 0;
    padding: 10px;
  }
  
  form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  form h1 {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  input[type="submit"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
   */
   /* Faculty.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: grey;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0 59px;
  }
  
  .registration-form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .registration-form h2 {
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 88%;
    padding: 3px;
    border: 0px solid #ccc;
    border-radius: 13px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"],
  .form-group input[type="file"],
  .registration-form button[type="submit"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .registration-form button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .registration-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  