/* Mark.css */
.attendance-page {
  text-align: center;
  padding: 20px;
}

.student-list {
  margin-top: 20px;
}

.student-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.buttons {
  display: flex;
}

.absent-btn,
.present-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.absent-btn:hover,
.present-btn:hover {
  background-color: #d32f2f;
}

.present-btn {
  background-color: #4caf50;
}

.present-btn:hover {
  background-color: #388e3c;
}
